h1 {
  border: 5px solid darkslategray;
  background-color: lightslategray;
  border-radius: 100px;
  text-align: center;
/*  margin-top: 50px;*/
  margin-left: 25px;
  margin-right: 25px;
  display: block;
}

body {
  background-color: burlywood
}

#output-wrapper {
  background-color: lightslategray;
  border: 5px solid darkslategray;
  height: 45%;
  text-align: center;
  color: cornsilk;
  line-height:inherit;
}


#game-input {
  left:40%;
  position: absolute;
  bottom: 10px;
}

#outputbox {
  border: 2px solid darkslategray;
  background-color: slategray;
  border-radius: 50px;
  width: 400px;
  text-align: center;
  height: 100px;
  top:65px;
  left: 100px;
  size: 15px;
  position: relative;
}

#output-wrapper {
  position: relative;
}

#bob {
  background-image: url("http://toonclips.com/600/cartoon-greedy-rich-business-man-holding-his-money-by-ron-leishman-3555.jpg");
  height: 300px;
  margin-left: 20px;
  margin-top: 30px;
  background-size: cover;
}
h6 {
}

#game-output {
  width: 30%;
  z-index:10;
}

#superstar {
  display: none;
}