h1 {
  border: 5px solid darkslategray;
  background-color: lightslategray;
  border-radius: 100px;
  text-align: center;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
}

body {
  background-color: burlywood
}

p {
  background-color: lightslategray;
  border: 5px solid darkslategray;
  margin-right: 48%;
  height: 45%;
  text-align: center;
  color: cornsilk;
  line-height:inherit;
}


#game-input {
  margin-left: 11%;
  margin-top: 35%;
  width: 30%
}

#outputbox {
  border: 2px solid darkslategray;
  background-color: slategray;
  border-radius: 50px;
  margin-left: 6%;
  margin-top: -65%;
  width: 40%;
  text-align: center;
  height: 28%;
  size: 15px
}

#bob {
  background-image: url("http://toonclips.com/600/cartoon-greedy-rich-business-man-holding-his-money-by-ron-leishman-3555.jpg");
  height: 300px;
  margin-left: 20px;
  margin-top: 30px;
  background-size: cover;
}
h6 {
  margin-right: 50%;
  margin-top: 57%;
}

#game-output {
  margin-left: 13%;
  margin-top: -16%;
  width: 30%;
  z-index:10
}

#superstar {
  display: none;
}