h1 {
  border: 5px solid darkslategray;
  background-color: lightslategray;
  border-radius: 100px;
  text-align: center;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
}

body {
  background-color: burlywood
}

p {
  background-color: lightslategray;
  border: 5px solid darkslategray;
  margin-right: 48%;
  height: 45%;
  text-align: center;
  color: cornsilk;
  line-height:inherit;
}


#game-input {
  margin-left: 11%;
  margin-top: 35%;
  position:fixed;
  width: 30%
}

#outputbox {
  position:fixed;
  border: 2px solid darkslategray;
  background-color: slategray;
  border-radius: 50px;
  margin-left: 6%;
  margin-top: -35%;
  width: 40%;
  text-align: center;
  height: 10%;
  size: 15px
}

#bob {
  background-image: url("http://orig13.deviantart.net/d8a1/f/2015/315/1/4/generic_guy_doodle__65_by_khatake-d9gakl3.png");
  height: 75%;
  width: 40%;
  position: fixed;
  margin-left: 54%;
  margin-top: -42%;
  background-size: cover;
}

h6 {
  margin-right:48%;
  margin-top: 20%;
}

#game-output {
  position: fixed;
  margin-left: 7%