h1 {
  border: 5px solid darkslategrey;
  background-color: lightslategrey;
  border-radius: 100px;
  text-align: center;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
}

body {
  background-color: sandybrown
}

p {
  background-color: lightslategray;
  border: 5px solid darkslategrey;
  margin-right: 50%;
  height: 45%;
  text-align: bottom ;